* {
  --fgcol1: #685467;
}

body {
  box-sizing: border-box;
  background-color: #30212a;
}

#tictactoe {
  display: grid;
  grid-template-columns: 33.33333% 33.333333% 33.333333%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gitem {
  cursor: pointer;
}

.p1 {
  background: url(img/x.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.p2 {
  background: url(img/o.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.win {
  background-color: rgba(65, 59, 70, 0.5);
}

#i1 {
  border-bottom: 2px solid var(--fgcol1);
}
#i2 {
  border-left: 2px solid var(--fgcol1);
  border-right: 2px solid var(--fgcol1);
  border-bottom: 2px solid var(--fgcol1);
}
#i3 {
  border-bottom: 2px solid var(--fgcol1);
}
#i5 {
  border-left: 2px solid var(--fgcol1);
  border-right: 2px solid var(--fgcol1);
}
#i7 {
  border-top: 2px solid var(--fgcol1);
}
#i8 {
  border-left: 2px solid var(--fgcol1);
  border-right: 2px solid var(--fgcol1);
  border-top: 2px solid var(--fgcol1);
}
#i9 {
  border-top: 2px solid var(--fgcol1);
}
